##############################################################
# This config file is a python script. See below for the     #
# available options. Any option may be omitted & the default #
# value will be used.                                        #
##############################################################

# The default MIDI device. Used for things like grid 
# quantization control. Type 'midi' at the Pippi console 
# for a list of devices.
device = None

# Initial master BPM
bpm = None

# CC value for quantization change. Values are currently 
# fixed to: Quarter, eighth note, sixteenth note, eighth 
# note triplet, 32nd note. (In that order from low to high.)
divcc = None

# Initial key
key = 'c'

# Default set of ratios to construct intervals and scales
ratios = 'just'

# Reference pitch for scale and interval calculation
a4 = 440.0
