##############################################################
# This config file is a python script. See below for the     #
# available options. Any option may be omitted & the default #
# value will be used.                                        #
##############################################################

# The default MIDI device name. Used for things like 
# master BPM control and grid quantization control.
# Type 'midi' at the Pippi console for a list of 
# device names.
device = None

# Initial master BPM
bpm = None

# CC value to listen for BPM range
bpmcc = None

# BPM range is the range used for BPM CC control.
# It is a tuple of low and high multiples, so:
# bpmrange = (0.5, 2) 
# with a BPM of 100 would set the range between 
# 50 and 200 BPM.
bpmrange = (1, 2)

# CC value for quantization change. Values are currently 
# fixed to: Quarter, eighth note, sixteenth note, eighth 
# note triplet, 32nd note. (In that order from low to high.)
divcc = None

# Initial key
key = 'c'

# Default set of ratios to construct intervals and scales
ratios = 'just'

# Reference pitch for scale and interval calculation
a4 = 440.0
