##############################################################
# This config file is a python script. See below for the     #
# available options. Any option may be omitted & the default #
# value will be used.                                        #
##############################################################

# The default MIDI device name. Used for things like 
# master BPM control and grid quantization control.
# Type 'midi' at the Pippi console for a list of 
# device names.
device = 'Midi Through Port-0'

# Initial master BPM
bpm = None

# CC value to listen for BPM range
bpmcc = None

# CC value to listen for quantization value
divcc = None

# Divisions of the beat for quantization
divs = [1, 2, 3, 4, 8, 16]

# Initial key
key = 'c'

# Default set of ratios to construct intervals and scales
ratios = 'just'

# Reference pitch for scale and interval calculation
a4 = 440.0
