*.swp
*.swo
*.pyc

/build/
/dist/
/*.egg-info/

pippi.world

pippi/*.so
pippi/*.html
pippi/*.c
pippi/*.h
pippi/oscs/*.html
pippi/oscs/*.c
pippi/tune/*.html
pippi/tune/*.c
pippi/noise/*.html
pippi/noise/*.c

tests/renders/*.wav
tests/renders/*.png

pippi.log

venv
.cache

libpippi/renders/*.wav
libpippi/renders/*.mp3
libpippi/build

astrid/build
astrid/cython/cyrenderer.c
astrid/cython/cyrenderer.h

garden/libDaisy
garden/**/**/build/*

.DS_Store
